body{
	background-color: #ffff66;

}
h1{
	font-family: 'Exo 2', sans-serif;
	margin-top:60px;
	font-size: 70px;
	margin-bottom: 60px;
	
}
.red{
	color:#d80000;
	/*red*/
}
.green{
	color: #00ff40;
	/*green*/
}
.blue{
	color: #0033ff;
	/*blue*/
}
.box{
	
	width:50px;
	border:1px solid black;
	float:left;
	border-radius:10px;
	background-color: #0033ff;
	padding-top:10px;
	height:50px;
    font-family: 'Lato', sans-serif;
	font-size: 40px;
	height: 80px;
	width: 80px;
    box-shadow: 5px 5px 5px black;
}
#symbSelect .box{
	color:white;
}
#symbSelect .row{
	margin-left: 20px;
}

#symbSelect #selectX:hover{
    color: #d80000;
    box-shadow: none;
}

#symbSelect #selectO:hover{
    color: #00ff00;
    box-shadow: none;
}


#symbSelect h2{
	
	margin-bottom: 50px;
	font-family: 'Lato', sans-serif;
    font-size: 40px;
}
#playBox .box{
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
}
#playBox .box:hover{
	box-shadow: none;
}
#playBox{
	min-width: 150px;
	margin-left: 100px;
}
#gameResult{
	font-family: 'Lato', sans-serif;
}
#gameResult h2{
	font-size:40px;
}
